.servicios {
  margin-top: 70px;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 100px;
}
.servicios__titulo {
  border-bottom: 2px solid rgb(35, 83, 35);
  border-radius: 2px;
  padding-bottom: 5px;
}

.servicios__card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.card-1__img {
  background: url("https://s3-alpha-sig.figma.com/img/f211/7f42/77f97883c8eda46573ded4f627a7fbd9?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JAcfW31ivbVCpCEfjpk5bs~NTjRxjiOBRThbnb1MOVOALol3wGexr5OO5Ii2IFae~b3zdnbv6Nr6RJns5H0FKMLCuHcePxTrkyTRhWU3NKRJd76v3sPqW8103jpNObsBnRxsJhvHvtvQIZ8v9wy1vDKYBmMPDeob5q3iZrWDSUWt0~HNju4idyUkNLmVsQ~VrQkot-3FgO5ZMTi~ch~elUwjj76LtFRzcN-sgjFxAuSofeWm~I7Q4u3e-ZjbjN55cYJFXQiJygfjDmDt0vCNxZ1U2yreJIqu2Ai1BQ0uHKgs7qp3y~bmISw2wkGoU84SwCJFLEp65xQXjwkiJ2vp~A__  ")
    no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position-x: center;
  background-position-y: 100%;
  border-radius: 10px;
  z-index: -10;
}

.card-1__texto {
  width: 90%;
  margin-top: -60px;
  z-index: 100;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px;
}
@media (min-width: 500px) {
  .card-1__img {
    background-position-y: 80%;
  }
}

@media (min-width: 1200px) {
  .servicios__card-1 {
    flex-direction: row;
    height: 400px;
  }
  .card-1__img {
    position: relative;
    height: 100%;
    background-position-y: 80%;
  }
  .card-1__texto {
    width: 100%;
    text-align: left;
    align-items: start;
    padding: 50px;
    margin-top: 50px;
    margin-left: -50px;
    max-height: 400px;
  }
  .card-1__title{
    font-weight: 800;
  }
  .card-1__paragraph{
    font-size: .8em;
  }

}

.card-2__img {
  width: 200px;
}
