#render {
    display: flex;
    flex-direction: column;
    gap: 16px;
  margin-top: 15px;

}
.contenedor {
  display: flex;
  gap: 4px;
}
.tarea {
  border: 1px solid black;
  padding: 4px;
  width: 200px;
  border-radius: 5px;
  user-select: none;
}
